.search-input-container {
  position: relative;
}

.search-input-container .autocomplete-input {
  min-width: 450px;
  min-height: 33px;
  font-size: 25px;
}

.search-input-suggestion-container {
  color: black;
  cursor: pointer;
  padding: 2px 10px;
}

.search-input-suggestion-hover {
  background-color: lightgray;
}

.search-input-suggestion-name {
  font-weight: bold;
}

.search-input-suggestion-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-input-menu {
  border-top: 0;
  background: rgba(255, 255, 255, 0.98);
  font-size: 90%;
  position: absolute;
  overflow: auto;
  z-index: 2;
  max-height: 35vh;
  max-width: 456px;
  text-align: left;
}
