.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header {
  padding: 50px;
  font-size: 10vmin;
}

.app-footer {
  margin-top: 200px;
}

.app-stats-chart-container {
  display: flex;
  flex-direction: row;
}

.app-stats-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 200px;
  align-content: center;
}

.app-chart-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 200px;
  align-content: center;
}

.app-main-inner-container {
  margin-top: 13vh;
}
